.dialog-ticket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 50%;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  border: 1px solid #F6F8FF;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  min-width: 600px;
}

.dialog-ticket .ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #F6F8FF;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 20px 40px;
  width: 80%;
}

.ticket img {
  width: 80px;
}

.ticket .p3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #1D6DBD;
}

.ticket .p4 {
  font-weight: bold;
}

.ticket-info {
  width: 100%;
}

.ticket-sub-info {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(229, 226, 226);
  align-items: center;
}

.ticket-sub-info label {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ticket-sub-info span {
  font-size: 20px;
}

.reminder-ticket {
  margin-top: 40px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.reminder-ticket img {
  width: 20px;
}

.reminder-ticket span {
  font-size: 16px;
  margin-left: 5px;
}

.options {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.option:hover {
  transform: scale(1.05);
}

.option-schedule {
  background-color: #CAE3FF;
  color: #1D6DBD !important;
}

.option-download {
  background-color: #3FA84F;
}

.option-print {
  background-color: #413943;
}

.options img {
  width: 24px;
}

.options span {
  font-size: 14px;
  margin-left: 5px;
}
