.reset-password-form {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reset-password-form h2 {
  margin-bottom: 20px;
}

.reset-password-form div {
  width: 100%;
  position: relative;
}

.reset-password-form div p {
  margin-bottom: 0px;
}

.reset-password-form div input {
  width: 100%;
  margin-bottom: 30px;
}

.reset-password-form div .error {
  position: absolute;
  top: 55px;
  font-size: 14px;
  color: red;
}

.reset-password-form button {
  width: 100%;
  margin-top: 10px;
}