.subject {
  border: 1px solid rgb(229, 226, 226);
  /* box-shadow: 2px 2px 8px rgba(0,0,0,0.3); */
  border-radius: 20px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.subject:hover {
  transform: scale(1.05);
  border: 1px solid #2A8DFF;
  box-shadow: 2px 2px 8px #5ea0eb;
}

.title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(229, 226, 226);
  padding-bottom: 10px;
}

.subject-name {
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
}

.register, .registered {
  background-color: #CAE3FF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.registered {
  background-color: lightgreen !important;
}

.register:hover {
  transform: scale(1.05);
  border: 1px solid #2A8DFF;
}

.register span, .registered span {
  color: #1D6DBD;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.registered span {
  color: green !important;
}

.registered svg {
  font-size: 36px;
  color: green;
}

.subject-info {
  margin-top: 10px;
  font-size: 18px;
  border-bottom: 1px solid rgb(229, 226, 226);
  margin-bottom: 10px;
}

.sub-info {
  display: flex;
  justify-content: space-between;
}
