.home-container {
  padding-top: 6rem;
}

.notification-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.subjects {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
