.home-container {
  padding-top: 6rem;
  background-color: #f9fafb;
  min-height: 100vh;
}

.notification-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.subjects {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
