.subject {
  border: 1px solid rgb(229, 226, 226);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(229, 226, 226);
  padding-bottom: 10px;
}

.subject-name {
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
}

.register {
  background-color: #CAE3FF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.register span {
  color: #1D6DBD;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.subject-info {
  margin-top: 10px;
  font-size: 18px;
  border-bottom: 1px solid rgb(229, 226, 226);
  margin-bottom: 10px;
}

.sub-info {
  display: flex;
  justify-content: space-between;
}
