
.forgot-password-form {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forgot-password-form div {
  width: 100%;
  margin-bottom: 40px;
}

.forgot-password-form div p {
  margin-bottom: 0px;
}

.forgot-password-form input {
  width: 100%;
}

.forgot-password-form button {
  width: 100%;
  border: none;
  padding: 10px;
  color: #0072BC;
  background-color: #58b2ef;
}

.forgot-password-form .return {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 30px;
  cursor: pointer;
}

.forgot-password-form .return:hover {
  color: #0072BC;
}