.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafb;
}
.main {
  flex: 1;
  display: flex;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  padding: 1.5rem;
  margin-top: 5rem; 
  margin-left: 18rem;
}
.exam-information-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  flex-wrap: nowrap;
  gap: 2rem;
}
.exam-information-title {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 650;
  color: #111827;
}
.exam-information-header-left{
  display:flex;
  align-items: center;
  gap: 0.75rem;   
}
.exam-information-header-left svg {
  font-size: 1.7rem; /* chỉnh kích thước icon */
  cursor: pointer;   /* thêm con trỏ khi hover */
  color:#111827
}
.btn-add-subject {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s;
  color: white;
  background-color: #2563eb;
}

.btn-add-subject:hover {
  background-color: #1d4ed8;
}
.search-subject-wrapper {
  flex: 1;
  display: flex;
  align-items: stretch;
  background: white;
  border: 1px solid #d1d5db;
  border-radius: 1.2rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  transition: border-color 0.2s;
  overflow: hidden;
}
.search-subject-wrapper:focus-within {
  border: 1.5px solid #2563eb;
  box-shadow: 0 0 8px rgba(37, 99, 235, 0.25); 
  transform: translateY(-1px); 
}
.search-subject-input {
  padding: 0.5rem 1rem;
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #111827;
}
.search-subject-icon {
  color: #6b7280;
  font-size: 1.6rem;
}

.search-subject-btn {
  border: none;
  outline: none;
  background-color: #DCDCDC; /* xám nhạt */
  cursor: pointer;
  height: 2.5rem; 
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
.search-subject-btn:hover {
  background-color: #EEECEC; /* xám nhạt khi hover */
}