.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  flex-wrap: nowrap;
}

.search-input-wrapper {
  flex: 1;
  display: flex;
  align-items: stretch;
  background: white;
  border: 1px solid #d1d5db;
  border-radius: 1.2rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  transition: border-color 0.2s;
  overflow: hidden;
}
.search-input-wrapper:focus-within {
  border: 1.5px solid #2563eb;
  box-shadow: 0 0 8px rgba(37, 99, 235, 0.25); 
  transform: translateY(-1px); 
}
.search-input {
  padding: 0.5rem 1rem;
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #111827;
}

.search-input::placeholder {
  color: #9ca3af;
}

.search-icon {
  color: #6b7280;
  font-size: 1.6rem;
}

.search-btn {
  border: none;
  outline: none;
  background-color: #DCDCDC; /* xám nhạt */
  cursor: pointer;
  height: 2.5rem; 
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
.search-btn:hover {
  background-color: #EEECEC; /* xám nhạt khi hover */
}

.buttons {
  display: flex;
  gap: 1rem;
}



.btn-icon {
  width: 1.25rem;
  height: 1.25rem;
}
.btn-import {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.7rem 1.25rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s;
  color: white;
  background-color: #16a34a;
}
.btn-import:hover {
  background-color: #15803d;
}
.btn-add {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s;
  color: white;
  background-color: #2563eb;
}

.btn-add:hover {
  background-color: #1d4ed8;
}