.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafb;
}
.main {
  flex: 1;
  display: flex;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  padding: 2rem;
  margin-left: 18rem;
}
