.selected-location {
  width: 95vw;
  border: 2px dashed #1D6DBD;
  margin: 0 auto;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  padding: 10px 20px;
  margin-top: 20px;
  position: relative;
}

.selected-location div {
  display: flex;
  align-items: center;
}

.selected-location img {
  width: 30px;
}

.selected-location span {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.selected-location h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.selected-location p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.selected-location .change-location {
  position: absolute;
  top: 20px;
  left: 85%;
  cursor: pointer;
}

.change-location svg {
  font-size: 24px;
}

.change-location:hover {
  color: #1D6DBD;
}