.screen {
  width: 100%;
  height: fit-content;
  padding: 0px 10px;
  background-color: white;
  border-bottom: 2px solid rgb(164, 161, 161);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-left {
  margin-left: 20px;
}

.logo_uni {
  width: 100px;
  padding: 10px;
}

.hl2 {
  padding: 10px;
}

.hl2 .exam-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
}

.hl2 .student {
  font-size: 20px;
}

.header-right {
  margin-right: 20px;
}

.schedule, .home {
  width: auto;
  background-color: #CAE3FF;
  color: #1D6DBD;
  padding: 0px 10px;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule:hover, .home:hover {
  scale: 1.05;
}

.schedule img {
  padding: 5px;
  height: 60%;
}

.schedule span, .home span {
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.header-right svg {
  font-size: 70px;
  color: gray;
  cursor: pointer;
}

.home svg {
  font-size: 30px;
  color: #1D6DBD;;
}