.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafb;
}
.main {
  flex: 1;
  display: flex;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  padding: 1.5rem;
  margin-top: 5rem; 
  margin-left: 18rem;
}
.sessions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  flex-wrap: nowrap;
  gap: 2rem;
}
.subject-title {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 650;
    color: #111827;
}
.sessions-header-left {
    display:flex;
    align-items: center;
    gap: 0.75rem; 
}
.sessions-header-left svg {
  font-size: 1.7rem; /* chỉnh kích thước icon */
  cursor: pointer;   /* thêm con trỏ khi hover */
  color:#111827
}
.btn-add-session {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s;
  color: white;
  background-color: #2563eb;
}

.btn-add-session:hover {
  background-color: #1d4ed8;
}